{% extends "dcslayout.html" %}
{% block content %}

<div class ="container-fluid">
	<h1>Charting and Analysis</h1>
	<div class="progress">
		<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
	<br>
	<br>
			<!-- <a class="nav-link" href="{{ url_for('chart_maker')}}">Make a chart</a> -->
	<br>
		<div class="container">
			<center>
				<h3>Chart</h3>
				<h5>Data sourced from bls.gov using a python bot</h5>
			</center>
		</div>
		<div class="container-fluid">
			<svg height="700" width="1600"></svg>
			<script src="https://d3js.org/d3.v4.min.js"></script>
			<script>
											
			var svg = d3.select("svg"),
					margin = {top: 40, right: 110, bottom: 100, left: 90},
					width = +svg.attr("width") - margin.left - margin.right,
					height = +svg.attr("height") - margin.top - margin.bottom;
			
			var parseTime = d3.timeParse("%m%y")
					formatDate = d3.timeFormat("%B %Y")
					bisectDate = d3.bisector(function(d) { return d.Date; }).left;
			
			var x = d3.scaleTime().range([0, width]);
			var y = d3.scaleLinear().range([height, 0]);
			
			var line = d3.line()
					.x(function(d) { return x(d.Date); })
					.y(function(d) { return y(d.Value); });
			
			var g = svg.append("g")
					.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
			
			var area = d3.area()
			.x(function(d) { return x(d.Date); })
			.y0(height)
			.y1(function(d) { return y(d.Value); });

			var data = {{ data1.chart_data | safe }};
				 data.forEach(function(d) {
						d.Month = parseTime(d.Month);
			//      d.Year = parseTime(d.Year);
						d.Date = parseTime(d.Date);
						d.Value = +d.Value;
					});
			
					x.domain(d3.extent(data, function(d) { return d.Date; }));
					y.domain([d3.min(data, function(d) { return d.Value; }), d3.max(data, function(d) { return d.Value; })]);
			
				g.append("path")
				 .data([data])
				 .attr("class", "area")
				 .attr("d", area);
	
				g.append("g")
						.attr("class", "axis axis~~x")
						.attr("transform", "translate(0," + height + ")")
						.call(d3.axisBottom(x));
						
				svg.append("text")             
					.attr("transform",
								"translate(" + (width/2) + " ," + 
															 (height + margin.top + 50) + ")")
					.style("text-anchor", "middle")
					.text("Time");
		
				g.append("g")
						.attr("class", "axis axis~~y")
						.call(d3.axisLeft(y).ticks(6).tickFormat(function(d) { return parseInt(d) ; }))
//              .append("text")
//                .attr("class", "axis-title")
//               .attr("transform", "rotate(-90)")
//                .attr("y", 1)
//                .attr("dy", 1)
//                .style("text-anchor", "end")
//                .text("Employed");
						
				svg.append("text")
					.attr("transform", "rotate(-90)")
					.attr("y", 30)
					.attr("x",0 - (height / 2))
					.attr("dy", 2)
					.style("text-anchor", "end")
					.text("Values");       
												 
		
				g.append("path")
						.datum(data)
						.attr("class", "line")
						.attr("d", line);
		
				var focus = g.append("g")
						.attr("class", "focus")
						.style("display", "none");

				
			 // append the x line
				focus.append("line")
						.attr("class", "x")
						.style("stroke", "purple")
						.style("stroke-dasharray", "3,3")
						.style("opacity", 0.5)
						.attr("y1", 0)
						.attr("y2", height);
		
				// append the y line
				focus.append("line")
						.attr("class", "y")
						.style("stroke", "purple")
						.style("stroke-dasharray", "3,3")
						.style("opacity", 0.5)
						.attr("x1", width)
						.attr("x2", width);
		
				// append the circle at the intersection
				focus.append("circle")
						.attr("class", "y")
						.style("fill", "none")
						.style("stroke", "orange")
						.attr("r", 4);
		
				// place the value at the intersection
				focus.append("text")
						.attr("class", "y1")
						.style("stroke", "white")
						.style("stroke-width", "3.5px")
						.style("opacity", 0.8)
						.attr("dx", 8)
						.attr("dy", "-.3em");
				focus.append("text")
						.attr("class", "y2")
						.attr("dx", 8)
						.attr("dy", "-.3em");
		
				// place the date at the intersection
				focus.append("text")
						.attr("class", "y3")
						.style("stroke", "white")
						.style("stroke-width", "3.5px")
						.style("opacity", 0.8)
						.attr("dx", 8)
						.attr("dy", "1em");
				focus.append("text")
						.attr("class", "y4")
						.attr("dx", 8)
						.attr("dy", "1em");
				
				// append the rectangle to capture mouse
				g.append("rect")
						.attr("width", width)
						.attr("height", height)
						.style("fill", "none")
						.style("pointer-events", "all")
						.on("mouseover", function() { focus.style("display", null); })
						.on("mouseout", function() { focus.style("display", "none"); })
						.on("mousemove", mousemove);
		
				function mousemove() {
						var x0 = x.invert(d3.mouse(this)[0]),
								i = bisectDate(data, x0, 1),
								d0 = data[i - 1],
								d1 = data[i],
								d = x0 - d0.Date > d1.Date - x0 ? d1 : d0;
		
						focus.select("circle.y")
								.attr("transform",
											"translate(" + x(d.Date) + "," +
																		 y(d.Value) + ")");
		
						focus.select("text.y1")
								.attr("transform",
											"translate(" + x(d.Date) + "," +
																		 y(d.Value) + ")")
								.text(d.Value);
		
						focus.select("text.y2")
								.attr("transform",
											"translate(" + x(d.Date) + "," +
																		 y(d.Value) + ")")
								.text(d.Value);
		
						focus.select("text.y3")
								.attr("transform",
											"translate(" + x(d.Date) + "," +
																		 y(d.Value) + ")")
								.text(formatDate(d.Date));
		
						focus.select("text.y4")
								.attr("transform",
											"translate(" + x(d.Date) + "," +
																		 y(d.Value) + ")")
								.text(formatDate(d.Date));
		
						focus.select(".x")
								.attr("transform",
											"translate(" + x(d.Date) + "," +
																		 y(d.Value) + ")")
													 .attr("y2", height - y(d.Value));
		
						focus.select(".y")
								.attr("transform",
											"translate(" + width * -1 + "," +
																		 y(d.Value) + ")")
													 .attr("x2", width + width);                 
											}
				</script>
				</div>
				<br>
				<br>
{{ tables | safe}}
{% endblock %}