{% extends "dcslayout.html" %}
{% block content %}
<div class="container">
	<h1 align ="right">Process a file...</h1> 
	<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <br>
    <div class = "container-fluid"></div>
    <div class ="row">
      <form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data">
         <input type = "file" name = "file" /> <br><br>
          <label for="skip">Number of rows to skip...</label>
          <input id ="skip" type = "number" name ="skrows"> </input>
          <label for="ctitle">Enter Chart Title</label>
          <input id ="ctitle" type = "text" name ="chart_title"> </input><br><br>
            <label for="brush">Brush and Zoom Chart</label>
          <input id ="brush" name ="action" value ="Brush" type = "submit"/><br><br>
            <label for="line">Line/Area Chart</label>
          <input id ="line" name="action" value ="Area" type = "submit"/>
      </form>
      </div></div>
{% endblock %} 
